#header-wrapper {
    width: 100%;
    background: black;
    height: 10%;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
    font-size: 24px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #header-wrapper {
        font-size: 22px;
        text-align: center;
    }

}