#footer-wrapper {
    background: black;
    height: 70px;
    position: sticky;
    bottom: 0; 
}


#footer-wrapper{
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 20px;
    background: black;
    z-index: 2;
    margin-top: 117px;
    color: #fff;
}

.copyright{
    float: left;
    display: inline;
}
.built-with{
    float: right;
    display: inline;
}

@media screen and (max-width: 600px){
    #footer-wrapper{
        height: 35px;
        font-size: 14px;
    }
    .built-with{
        float: left;
    }
}