<div class="form-container">
    <div class="form-wrapper">
        <div class="tab">
            <button class="tablinks" routerLinkActive="active" routerLink="/one-way">One-Way</button>
            <button class="tablinks" routerLinkActive="active" routerLink="/return">Return</button>
        </div>
        <div class="form">
          <div id="source-city">
            <input type="text" name="From" placeholder="Enter source city" class="form-control" id="" [(ngModel)]="sourceCity">
            <input type="date" name="doa" class="form-control" [(ngModel)]="departureDate">
          </div>
          <div id="destination-city">
            <input type="text" name="To" placeholder="Enter destination city" class="form-control" id="" [(ngModel)]="destinationCity">
            <input *ngIf="!isOneWay" class="form-control" type="date" name="dor" [(ngModel)]="arrivalDate">
          </div>
          <div class="slidecontainer">
              <input type="range" min="1000" max="10000" [value]="maxPrice" class="slider" id="myRange" (change)="getSearchResults()" [(ngModel)]="maxPrice">
              <span>Price: 0 - {{maxPrice}} INR</span>
          </div>
          <input type="submit" class="form-control" value="Search" (click)="getSearchResults()">
        </div>      
    </div>
      <div id="source-alert" class="alert">*Source is required</div>
      <div id="dest-alert" class="alert">*Destination is required</div>
</div>

