.form-container {
    display: flex;
}


.form-wrapper {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 25px 30px;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="range"] {
    margin-bottom: 0;
}
input:focus {
    background: #d2d9dd;
}

input[type="submit"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

input[type="submit"]:hover
{
    background: #109177;
}


.hide {
    display: none;
}

.slidecontainer {
    width: 100%;
    margin: 10px 0;
}

/* The slider itself */ 
.slider {
    -webkit-appearance: none; 
    appearance: none;
    height: 15px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1abc9c; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1abc9c; /* Green background */
    cursor: pointer; /* Cursor on hover */
}